@import "../fonts/bould";
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Allura&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Allura&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*,
html,
body {
  font-family: "Poppins", sans-serif !important;
  -webkit-font-smoothing: antialiased !important;
  scroll-behavior: smooth;
  color: #23352F;
}

body {
  margin: 0;
  overflow-x: hidden;
}

.container {
  height: 100vh;
  // overflow-y: scroll;
  scroll-snap-type: y mandatory;
}

.section {
  height: 100vh;
  scroll-snap-align: start;
  position: relative;
  overflow: hidden;
}

.center-flex {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contents {
  width: 40%;
}

.contents.long {
  width: 60%;
}

@media only screen and (max-width: 768px) {
  .contents {
    width: 90%;
  }
}


.font-allura {
  font-family: "Allura", cursive !important;
}

.font-playfair {
  font-family: "Playfair Display", serif !important;
}