@import "../fonts/bould";

*,
html,
body {
  font-family: "Bould", sans-serif !important;
  -webkit-font-smoothing: antialiased !important;
  scroll-behavior: smooth;
}

body {
  margin: 0;
}

.container {
  height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}

.section {
  display: flex;
  height: 100vh;
  scroll-snap-align: start;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.contents {
  width: 40%;
}

@media only screen and (max-width: 768px) {
  .contents {
    width: 90%;
  }
}
